


/* carousel section */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Make the images invisible by default */
.Containers {
  display: none;
}

/* forward & Back buttons */
.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

/* Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption Info */
.Info {
  color: #e3e3e3;
  font-size: 16px;
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

/* Worknumbering (1/3 etc) */
.MessageInfo {
  color: #f2f2f3;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}

/* The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable, .dots:hover {
  background-color: #717161;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}
.tart-logo {
  max-width: 150px;
}
.home-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  grid-gap: 50px;
}

.checkout-grid {

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2,1fr);
}

.store-grid {
  padding: 5rem;
  display: grid;
  grid-gap: 30px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 20%);
  grid-template-areas: 
  "filter product product product product"
  "filter product product product product";
}

body {
  margin: 0;
}

header {
  background-color: #72009F;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
  justify-items: end;
}

nav a{
  font-size: 4rem;
  margin: 30px;
  color: white;
  

}
img {
  max-width: 100%;
  /* object-fit: contain; */
}

.tart-text {
  max-width: 450px;
  justify-content: start;
  margin-right: 600px;
}

body {
  background-image: url(../images/toa-heftiba-S1Z_Cudra0k-unsplash.jpg);
  background-size: cover;
}

.store-filters {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: white;
  
}
/* .image-fit {
  object-fit: contain;
}
.image-fit img {
  width: 100%;
} */

.product-img {
  max-width: 524px;
  max-height: 524px;
  object-fit: contain;
  position: relative;
}
.product-img img {
  aspect-ratio: 1;
}

.products {
  background-color: #72009F;
}

.product-button {
  position: absolute;
  /* top: 50%; */
  padding: 10px 20px;
  margin: 10px, 20px;
  margin-top: 30px;
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}
.product-bottom {
  padding: 2em;
  /* display: flex; */
}
/* .image-fit img {
  width: 300px;
  height: 300px;
  aspect-ratio: 1;
} */
/* .store-images {
width: 50%;
object-fit: fill;
height: 300px;
} */

/* .cro {
  object-fit: contain;
} */

/* .store-images {
  overflow: hidden;
} */
/* .store-images img {
  object-fit: contain;
  /* max-height: 200px; */
} */

.bakery-goods {
  background-color: white;
}

footer{
  background-color: #72009F;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a, p {
  color: white;
}

.store-filters-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.filter-heading {
  padding: 50px;
}
.searchbar {
  padding: 50px;

}

.threebuttons {
  padding: 50px;

}

.slidebar {
  padding: 50px;

}
/* #croissants {
  background-color: white;

}

#cookies {
  background-color: white;

}

#cupcakes {
  background-color: white;
}

#macarons {
  background-color: white;
} */


.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

