


/* carousel section */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Make the images invisible by default */
.Containers {
  display: none;
}

/* forward & Back buttons */
.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

/* Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption Info */
.Info {
  color: #e3e3e3;
  font-size: 16px;
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

/* Worknumbering (1/3 etc) */
.MessageInfo {
  color: #f2f2f3;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}

/* The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable, .dots:hover {
  background-color: #717161;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}
.tart-logo {
  max-width: 150px;
}

#home-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  grid-gap: 50px;
}
.main-container {
  display: grid;
}
#welcome-banner {
  margin-top: 50px;
  padding-top: 20;
  background-color: #3A0052;
  height: 300px;
  width: 900px;
  justify-self: center;
}

.banner h1 {
  font-size: 3rem;
  padding-left: 130px;
  color: white;
}

.banner p {
  font-size: 1.5em;
  padding-left:20px;
  padding-right: 20px;
}

.banner-checkout h1{
  padding-left: 300px;
}

.checkout-container {
  background-color: white;
}

.checkout-grid {

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2,1fr);
}

.store-grid {
  padding: 5rem;
  display: grid;
  grid-gap: 30px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 20%);
  grid-template-areas: 
  "filter product product product product"
  "filter product product product product";
}

.mostPopular {
  background-color: white;
  /* display: flex; */
  position: relative;
}

.popular-images {
  object-fit: contain;
  margin-bottom: auto;
}

.popular-images img {
  /* position: absolute; */
  left: 0;
  bottom: 0;
}

#donuts {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 30px;
}

#cinnaroll {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding: 30px;
}

body {
  margin: 0;
}

header {
  background-color: #72009F;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
  justify-items: end;
}

nav a{
  font-size: 4rem;
  margin: 30px;
  color: white;
  

}
img {
  max-width: 100%;
  /* object-fit: contain; */
}

.tart-text {
  max-width: 450px;
  justify-content: start;
  margin-right: 600px;
}

body {
  background-image: url(../images/toa-heftiba-S1Z_Cudra0k-unsplash.jpg);
  background-size: cover;
}

.store-filters {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: white;
  
}
/* .image-fit {
  object-fit: contain;
}
.image-fit img {
  width: 100%;
} */

.product-img {
  max-width: 524px;
  max-height: 524px;
  object-fit: contain;
  position: relative;
}
.product-img img {
  aspect-ratio: 1;
}

/* .products {
  background-color: #72009F;
} */

.product-button {
  position: absolute;
  /* top: 50%; */
  padding: 10px 20px;
  margin: 10px, 20px;
  margin-top: 30px;
}
.product-bottom {
  padding: 2em;
}


.bakery-goods {
  background-color: white;
}

footer{
  background-color: #72009F;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a, p {
  color: white;
}

.store-filters-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.filter-heading {
  padding: 50px;
}
.searchbar {
  padding: 50px;

}

.threebuttons {
  padding: 50px;

}

.slidebar {
  padding: 50px;

}
.products {
  background-color: white;
}

.products:hover {
  /* border-radius: 50%; */
  /* box-shadow:
    -10px 0 80px #f44336,
    10px 0 80px #f44336; */
  animation-name: Pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  transition-timing-function: ease-in-out;
}

@keyframes Pulse {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.05)
  }
  100% {
    transform: scale(1);
  }
}

.slidecontainer {
  width: 100%; 
}
.slider {
  -webkit-appearance: none;  
  appearance: none;
  width: 100%; 
  height: 15px; 
  background: greenyellow;
  opacity: 0.7; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1; 
}

